{% extends 'base.html.twig' %}

{% block title %}Ajouter un Course{% endblock %}
{% block content %}

    {% block body %}
        <h1>Ajouter un Course</h1>

        {{ include('course/_form.html.twig') }}

        <a href="{{ path('course_bysubject',{'id': subject.id}) }}">back to list</a>
    {% endblock %}
{% endblock %}

