{% extends 'base.html.twig' %}

{% block title %}New Specialties{% endblock %}

{% block content %}
    {% block body %}
    <h1>Create new Specialties</h1>

    {{ include('specialties/_form.html.twig') }}

    <a href="{{ path('specialties_index') }}">back to list</a>
{% endblock %}
{% endblock %}
