<form method="post" action="{{ path('exam_delete', {'idExam': exam.idExam}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exam.idExam) }}">
    <button class="btn">Delete</button>
</form>
