{% extends 'base.html.twig' %}

{% block title %}Modifier Examen{% endblock %}
{% block content %}

{% block body %}
    <h1>Modifier Examen</h1>

    {{ include('exam/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exam_bysubject',{'id': exam.idSubject.id}) }}">back to list</a>

    {{ include('exam/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
