{% extends 'base_front.html.twig' %}

{% block title %}Modifier commentaire{% endblock %}
{% block content %}
    {% block body %}
        <h1>Modifier commentaire</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('comment_index') }}">Retourner</a>

        {{ include('comment/_delete_form.html.twig') }}
    {% endblock %}
{% endblock %}