{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}
{% block content %}
{% block body %}
    <br>
    <h1>Ajouter un nouveau commentaire</h1>
<br>
    <div style="width: 80%">
    {{ include('comment/_form.html.twig') }}
    </div>
{% endblock %}
{% endblock %}
