<form method="post" action="{{ path('costudyingtype_delete', {'id': costudyingtype.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ costudyingtype.id) }}">
    <button class="btn">Delete</button>
</form>
