{% extends 'base.html.twig' %}

{% block title %}New Costudyingtype{% endblock %}

{% block body %}
    <h1>Create new Costudyingtype</h1>

    {{ include('costudyingtype/_form.html.twig') }}

    <a href="{{ path('costudyingtype_index') }}">back to list</a>
{% endblock %}
