{% extends 'base.html.twig' %}

{% block title %}Classe index{% endblock %}
{% block content %}
{% block body %}
<form action="/classe/audio">
    <input type="button">
</form>
{% endblock %}
{% endblock %}