<form method="post" action="{{ path('activity_active', {'id': activity.id}) }}" onsubmit="return confirm('voulez vous activer cette activité ??');">
    <input type="hidden" name="_token" value="{{ csrf_token('active' ~ activity.id) }}">
    <button class="btn btn-primary" style="background-color: #1aa179">Activer</button>
</form>