<form method="post" action="{{ path('activity_new')}}">
    <input type="hidden" name="_token">
    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">Ajouter une nouvelle activité</button>
</form>