<form method="post" action="{{ path('activity_archive', {'id': activity.id}) }}" onsubmit="return confirm('voulez vous archiver cette activité ??');">
    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ activity.id) }}">
    <button class="btn btn-primary" style="background-color: #1aa179">Archiver</button>
</form>