{% extends 'base.html.twig' %}

{% block title %}New LigneExam{% endblock %}

{% block body %}
    <h1>Create new LigneExam</h1>

    {{ include('ligne_exam/_form.html.twig') }}

    <a href="{{ path('ligne_exam_index') }}">back to list</a>
{% endblock %}
