<form method="post" action="{{ path('work_done_new', {'idActivity': activity.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('add' ~ activity.id) }}">
    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">Ajouter un travail</button>
</form>