<form method="post" action="{{ path('work_done_show', {'id': work_done.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('details' ~ work_done.id) }}">
    <button class="btn btn-primary" style="background-color: #1aa179">Détails</button>
</form>