<form method="post" action="{{ path('work_done_edit', {'id': work_done.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ work_done.id) }}">
    <button class="btn btn-primary" style="background-color: #1aa179">Modifier</button>
</form>