{% extends 'base.html.twig' %}

{% block title %}WorkDone index{% endblock %}
{% block content %}
{% block body %}
    <h1>WorkDone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>WorkFile</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_done in work_dones %}
            <tr>
                <td>{{ work_done.workFile }}</td>
                <td>{{ work_done.status }}</td>
                <td>
                    <a href="{{ path('work_done_show', {'id': work_done.id}) }}">Details</a>
                    <a href="{{ path('work_done_edit', {'id': work_done.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun travail déposé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% endblock %}
