{% extends 'base.html.twig' %}

{% block title %}Nouveau travail{% endblock %}
{% block content %}
{% block body %}
    <h1>Ajouter un travail</h1>

    {{ include('work_done/_form.html.twig') }}

    <a href="{{ path('work_done_index') }}">Retourner</a>
{% endblock %}
{% endblock %}
