{% extends 'base_front.html.twig' %}

{% block title %}Noter travail rendu{% endblock %}
{% block content %}
    {% block body %}
        <h1>Noter travail rendu</h1>

        {{ form_start(form) }}
        {{ form_row(form.score) }}
        {{ form_end(form) }}
        {{ include('work_done/_delete_form.html.twig') }}

    {% endblock %}
{% endblock %}