<form method="post" action="{{ path('co_studying_delete', {'id': co_studying.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce contenu?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ co_studying.id) }}">
    <button class="btn btn-primary">Supprimer</button>
    <style>
        .btn {
            display: inline-block;
            padding: 4px 8px;
            cursor: pointer;
            border-radius: 30px;
            background-color: #ADADAD;
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
    </style>
</form>


