<form method="post" action="{{ path('co_studying_delete', {'id': co_studying.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ co_studying.id) }}">
    <button class="btn">Delete</button>
</form>
