{% extends 'base.html.twig' %}

{% block title %}New Complaint{% endblock %}
{% block content %}
{% block body %}
    <h1>Réclamez</h1>

    {{ include('complaint/_form.html.twig') }}


    <a class="btn btn-danger btn-sm" href="{{ path('complaint_index') }}">Retourner</a>
{% endblock %}
{% endblock %}
