<form method="post" action="{{ path('forum_index')}}">
    <input type="hidden" name="_token">
    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">Liste des forums</button>
</form>