{% extends 'base.html.twig' %}

{% block title %}Modifier Forum{% endblock %}
{% block content %}
{% block body %}
    <h1>Modifier Forum</h1>

    {{ include('forum/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('forum_index') }}">Retourner</a>

    {{ include('forum/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
