{% extends 'base_front.html.twig' %}

{% block title %}Nouveau forum{% endblock %}
{% block content %}
{% block body %}
    <h1>Ajouter un nouveau forum</h1>

    {{ include('forum/_form.html.twig') }}

    <a href="{{ path('forum_index') }}">Retourner</a>
{% endblock %}
{% endblock %}
